.cart-container{
    padding:20px;
}

.cart-title{
    font-weight: 300;
    text-align: center;
}

.cart-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-button{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.top-text{
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.blank{
    border: 2px solid black;
    background-color: transparent;   
}

.filled{
    border: none;
    background-color: black;
    color: white;
}
